numpy<2

# Server Requirements
accelerate
diffusers
fastapi
huggingface_hub
keras
keras_cv
pillow
protobuf
python-multipart
sentencepiece
transformers
uvicorn

# Image and video processing
opencv-python               # For video capture and image processing
Pillow

# Networking & Utilities
requests                    # For sending HTTP requests to the server

# Codeformer requirements
addict
future
lmdb
opencv-python
Pillow
pyyaml
requests
scikit-image
scipy
tb-nightly
tqdm
yapf
lpips
gdown # supports dVwnloading the large file from Google Drive

# Constrain numpy to a version below 2 for all platforms
torch
torchvision
torchaudio

###############################
# macOS Dependencies
###############################
# Use the macOS-specific TensorFlow and PyTorch packages (Metal-enabled)
tensorflow-macos; platform_system == "Darwin"
tensorflow-metal; platform_system == "Darwin"
