# Server Requirements
accelerate
diffusers
fastapi
huggingface_hub
keras
keras_cv
pillow
protobuf
python-multipart
sentencepiece
transformers
uvicorn

# Image and video processing
opencv-python               # For video capture and image processing
Pillow

# Networking & Utilities
requests                    # For sending HTTP requests to the server
numpy<2

# Codeformer requirements
addict
future
lmdb
numpy
opencv-python
Pillow
pyyaml
requests
scikit-image
scipy
tb-nightly
torch>=1.7.1
torchvision
tqdm
yapf
lpips
gdown # supports dVwnloading the large file from Google Drive


tensorflow